{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang='fr'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Mastermind{% endblock %}</title>

        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                {% block header %}                       
                    <div class="col col-sm-4 col-md-3 col-lg-2">
                        <a href={{ url('home') }}>Home</a>
                        <a href={{ url('scores') }}>Scores</a>
                    </div>
                {% endblock %}
                <divclass="col col-sm-8 col-md-9 col-lg-10">
                    {% block body %}{% endblock %}
                </div>
            </div>

        </div>

        {% block javascripts %}          
            {{ encore_entry_script_tags('app') }}
            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}

    </body>
</html>