{# templates/game.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Partie en cours</h1>

    {% for key, color in combinaison %}
    	{{ key }} : {{ color}}
    {% endfor %}

    
    
{% endblock %}